@*@model IEnumerable<Auction.Models.Item>*@
    @{
    var error = @TempData["error"] as string;
    var returnUrl = ViewData["ReturnUrl"] as string;
}

        <div class="card-body">
            <h1> this is pages Login</h1>
        <p>@error</p>
        <form action= "/account/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method = "post">
            <input type = "text" name = "username" />
            <input type = "password" name = "password" />
            <input type = "submit" value = "login" />
        </form>
        </div>
   








