@model Auction.Models.Manager

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Manager</h4>
<hr />
<partial name="~/Views/Shared/Form/_BeginForm.cshtml" />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Username" />
            <div class="form-group">
                
                <input type="hidden" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input type="hidden" asp-for="Roles" class="form-control" />
                <span asp-validation-for="Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
<partial name="~/Views/Shared/Form/_EndForm.cshtml" />



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
