@model Auction.Models.Manager

@{
    ViewData["Title"] = "Create";
}




<partial name="~/Views/Shared/Form/_BeginForm.cshtml" />
    <div class="text-center">
        <h1>Create</h1>
        <h4>Manager</h4>
    </div>
        
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="alert-danger">
            <p>@TempData["alreadyUser"]</p>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary btn-user btn-block" />
        </div>
    </form>
                            
<partial name="~/Views/Shared/Form/_EndForm.cshtml" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
