@model Auction.Models.PostItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PostItem</h4>
<hr />
<partial name="~/Views/Shared/Form/_BeginForm.cshtml" />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <select asp-for="IdUser" class ="form-control" asp-items="ViewBag.IdUser"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
<partial name="~/Views/Shared/Form/_EndForm.cshtml" />
<div>
    <a asp-action="Index">Back to List</a>
</div>

